# IDE / CubeIDE
*.launch
*.project
*.cproject
*.mxproject
/.settings/
/Debug/
/Release/

# Build artifacts
*.o
*.a
*.elf
*.bin
*.hex
*.map

# CubeMX / STM32CubeIDE Generated
/Core/Src/*.[ocm] # если хочешь игнорировать генерацию HAL (не обязательно)
*.d
*.dep
*.lst
*.srec

# Backup / temp
*~
*.bak
*.swp
*.tmp

# OS specific
.DS_Store
Thumbs.db
